/* * {
    border: 2px solid red;
  } */
  
body {
    
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Proxima Nova", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #1f2937;
    
}

.top-header,
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
}

.top-header {
    padding: 5px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-content {
    padding-top: 100px;
    padding-bottom: 100px;
}


.header-text
p           {
    color: #e5e7e5;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.header-image {
    width: 800px;
    border-radius: 0;
}


.header-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 30px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    border-style: none;
    font-size: 18px;

}

.main-content {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 70px;
}


.planets {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.planet1,
.planet2,
.planet3,
.planet4,
.planet5  { 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.planets p {
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
    margin: 0;
    padding-left: 400px;
    padding-right: 400px;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.name {
    align-self: flex-end;
    font-size: large;
    font-weight: 800;
    
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;

}

.big-box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    padding: 30px 100px;
    border-radius: 10px;
    
}

h3 {
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size: 30px;
}

.su-paragraph {
    color: #e5e7eb;
    font-size: 15px;
    margin: 0;
}

.big-box button {
    border: 2px solid;
    border-color: #e5e7e5;
    
}