/* * {
    border: 2px solid red;
  } */
  
body {
    
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Proxima Nova", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #1f2937;
    
}

.top-header,
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
}

.top-header {
    padding: 5px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-content {
    padding-top: 100px;
    padding-bottom: 100px;
}


.header-text
p           {
    color: #e5e7e5;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

img {
    width: 800px;
}


.header-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 30px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    border-style: none;
    font-size: 18px;

}

